@use "shared/variables" as *;

.root {
}
.cardBox {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  margin-top: 70px;
}

.item {
  position: relative;
  flex: 1 1 30%;
  aspect-ratio: 2 / 3;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  border-radius: 5%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: white;
    z-index: 1;
    overflow: hidden;
  }


  .img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: opacity 0.5s ease;
  }

  span {
    position: relative;
    z-index: 2;
    color: white;
    font-size: clamp(16px, 2vw, 24px);
    font-weight: 600;
    padding: 0 16px 45px 16px;
    transition: color 0.3s ease;
  }

  button {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
    background: gray;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }

  &:hover {
    &::before {
      width: 100%;
    }

    .img {
      opacity: 0.2;
    }

    span {
      color: black;
    }
  }
}

.itemMixer::before {
  background: white url("./images/bred_fr_mixer_hover.jpg") no-repeat left center;
  background-size: 80% auto;
  transition: width 0.3s ease;
}

.itemAirJordan::before {
  background: white url("./images/nike_air_jordan_1_hover.jpg") no-repeat left center;
  background-size: 80% auto;
  transition: width 0.3s ease;
}

.itemAirMaximus::before {
  background: white url("./images/nike_air_maximus_hover.jpg") no-repeat left center;
  background-size: 80% auto;
  transition: width 0.3s ease;
}
