@use "shared/variables" as *;

.sectionHeader{
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: $second-family;
  font-weight: 500;
  color: $black;
  font-size: 40px;
  letter-spacing: -0.05rem;
}
.viewAllBtn{
  border-radius: 100px;
  border: 1px solid $gray-brown;
  padding: 10px 20px;
  background-color: inherit;
}

.popular {
  max-width: 1500px;
}

.carouselWrapper{
  margin-top: 25px;
}
