@use "shared/variables" as *;

.popular,
.new,
.eveningWalk,
.productPromotion,
.specialOffers,
.priceFilterSection {
  margin-top: 100px;
}

.categoryGrid {
  margin-top: 89px;
}

.specialCategories {
  margin-top: 70px;
}
