@use "shared/variables" as *;

.popular,
.new,
.eveningWalk,
.productPromotion,
.specialOffers,
.priceFilterSection {
  margin-top: 100px;
}

.categoryGrid {
  margin-top: 89px;
}

.specialCategories {
  margin-top: 70px;
}

.sectionDivider {
  border: none;
  height: 1px;
  background-color: $gray-brown-dark;
  width: 100%;
  margin: 60px 0;
  opacity: 0.2;
}

.discountSection {
  margin-top: 28px;
}
