@use "shared/variables" as *;

.root {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 170px;
  //max-width: 00px;
  margin: 0 auto;
  //margin-top: -10px;
  flex-wrap: wrap;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
  justify-content: flex-start;
}

.center {
  flex: 1;
  justify-content: center;
  max-width: 125px;
}

.right {
  flex: 1;
  justify-content: flex-end;
  gap: 25px;
}

.mainLogo {
  width: 123px;
  height: 25px;
  cursor: pointer;
  color: $white;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon {
  width: 30px;
  height: 30px;
}
