$font-family: "Inter", sans-serif;
$second-family: "Ruberoid", sans-serif;
$third-family: "Arial", sans-serif;
$font3: "Effloresce", sans-serif;

$white: #ffffff;
$black: #000000;
$gray-brown: #5e5e5e;
$gray-brown-dark: #3e3e3e;
